* {
    background-color: blanchedalmond;
}

.head-title {
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#title {
    color: black;
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sub-title {
    color: grey;
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}

#image {
    width: 100%;
    height: auto;
}

#footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}



