* {
    background-color: blanchedalmond;
}

.head-title {
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#title {
    color: black;
    background-color: bisque;
}

#sub-title {
    color: grey;
    background-color: bisque;
}